@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.calculator{
    width: auto;
    height: auto;
    margin: 9rem 25%;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(0, 206, 137);
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 8rem repeat(5, 75px);
    padding: 1rem;
}

button {
    cursor: pointer;
    padding-bottom: 1rem;
    font-size: 2.3em;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
}

button:focus {
    outline: none;
}

.bigger {
    grid-column: span 2;
}

.display {
    color: rgb(255, 255, 255);
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #000;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000033;
}

#current {
    font-size: 1.8em;
}

#prev {
    font-size: 2.3em;
}